{% extends 'base.html' %} 
{% load static %} 
{% block title %}
News Details
{% endblock title %} 
{% block content %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <span class="alert alert-danger message red" id="error">Błąd formularza: {{ message }}</span>
        {% elif message.tags == 'success' %}
            <span class="alert alert-success message green" id="success">Sukces: {{ message }}</span>
        {% endif %}
    {% endfor %}
{% endif %}
<section class="news-details">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="news-card">
					<h2 class="news-title">{{ news.title }}</h2>
					<img
						src="{{ news.image.url }}"
						alt="{{ news.title }}"
						class="news-image"
					/>
					<div class="news-meta">
						<p class="news-author">Autor: {{ news.author }}</p>
						<p class="news-date">Opublikowano: {{ news.publish }}</p>
					</div>
					<p class="news-body">{{ news.body|linebreaksbr }}</p>
					<div class="news-tags">
						<h4 class="tags-title">Tags:</h4>
						<div class="d-flex">
							{% for tag in news.tags.all %}
							<a href="{%url 'news_tag' tag=tag.slug %}"><button class="btn btn-primary m-1 ">{{ tag.name }}</button></a>
							{% endfor %}
						</div>
						<div class="d-flex justify-content-between">
							<div class="m-1">
								<button id="comment-button" class="btn btn-info">Komentarze: {{total_comments}}</button>
							</div>
							{% if user.is_staff %}
							<div class="m-1">
								<a href="{%url 'news_delete' pk=news.id %}"><button class=" btn btn-danger">Usuń</button></a>
							</div>
							<div class="m-1">
								<a href="{%url 'news_update' pk=news.id %}"><button class=" btn btn-warning">Edytuj</button></a>
							</div>
							{% endif %}
						</div>
					</div>
					<div id='comment-section' class="comment-section-hide">
						<form action="{% url 'news_detail' slug=news.slug id=news.id%}" method="POST" enctype="multipart/form-data">
							<h3 class="comment-heading text-white mt-5 mb-4">Nowy komentarz: </h3>
							<div class="row m-2 align-items-center">
							<div class="col-md-2 text-center">
								<div class="d-flex align-items-center justify-content-center square-image-container">
								<img class="square-image profile-photo mb-3" src="{{ user.profile.photo.url }}" alt="">
								</div>
							</div>
							<div class="col-md-10">
								<div class="d-flex align-items-center">
								<textarea  class="form-control mb-3 centered-textarea" name="body" id="id_body" placeholder="Twój komentarz"></textarea>
								</div>
							</div>
							</div>
							<div class="news-tags">
								{% csrf_token %}
								<div class ='d-flex justify-content-between'></div>
							<button type="submit" class="btn btn-primary">Wyślij</button>
							</div>
						</form>

						<!-- Komentarz -->
	
							<h3 class="comment-heading text-white mt-5 mb-4">Komentarze {{total_comments}}: </h3>


						<!-- 1 komentarz  -->
						{% for comment in comments %}
						<div class="row m-2 align-items-center">
							<div class="col-md-2 text-center">
							<div class="d-flex align-items-center justify-content-center square-image-container">
								<img class="square-image profile-photo " src="{{comment.author.photo.url }}" alt="">
							</div>
							</div>
							<div class="col-md-9 mb-4">
								<div class="d-flex justify-content-between">
									<span class="text-white">Komentarz {{comment.author|capfirst}}:</span>
								<span class="text-white">{{comment.created|date}}</span>
								</div>
								
							<div class="d-flex align-items-center">
								{% if comment.status == 'banned' %}
									<span class="form-control  centered-textarea comment" id="message" >Komentarz usunięto w związku z złamaniem regulaminu.</span>
								{% else %}
									<span class="form-control  centered-textarea comment" id="message" >{{comment.body}}</span>
								{% endif %}
							</div>
							</div>
							<div class="col-md-1 mb-4">
								{% if comment.author == request.user.profile or user.is_staff %}
									<a href="{% url 'comment_update' pk=comment.id%}"><button class=" btn bg-transparent"> <i class="fa-solid fa-pen-fancy fa-xl" style="color: #c0c0c0;"></i></button></a>
									{%if comment.status != 'banned' %}
									<form action="{% url 'comment_delete' pk=comment.id %}" method="post" onsubmit="return confirm('Napewno chcesz usunąć ten komentarz?');">
										{% csrf_token %}
										<button class="btn bg-transparent" type="submit">
											<i class="fa-solid fa-trash fa-xl" style="color: #ff0000;"></i>
										</button>
									</form>
									{% endif%}
								{% endif %}
								{%if comment.status != 'banned' and comment.author != request.user.profile %}
								<form action="{% url 'comment_report' pk=comment.id %}" method="post" onsubmit="return confirm('Napewno chcesz zgłosić ten komentarz?');">
									{% csrf_token %}
									<button class="btn bg-transparent"> <i class="fa-solid fa-skull-crossbones fa-xl" style="color: #ff8000;"></i></button>
								</form>
								{% endif%}
							</div>
						</div>
						{% endfor %}


						{%if num_pages > 1%}
						<div class="pagination justify-content-center mt-5">
							<ul class="pagination">
								{% if comments.has_previous %}
								<li class="page-item">
									<a
										class="page-link"
										href="?page={{ comments.previous_page_number }}"
										tabindex="-1"
										aria-disabled="true"
										>Poprzednia</a
									>
								</li>
								{% endif %} 
								{% for num in comments.paginator.page_range %} 
								{% if num == comments.number %}
								<li class="page-item active">
									<span class="page-link">{{ num }}</span>
								</li>
								{% elif num > comments.number|add:'-3' and num < comments.number|add:'3' %}
								<li class="page-item">
									<a class="page-link" href="?page={{ num }}">{{ num }}</a>
								</li>
								{% endif %} 
								{% endfor %}
								{% if comments.has_next %}
								<li class="page-item">
									<a class="page-link" href="?page={{ comments.next_page_number }}">Następna</a>
								</li>
								{% endif %}
							</ul>
						</div>
						{%endif%} 
					  </div>
					</div>
				</div>
				<div class="col-md-2" id="podobne">
					<div class="news-card">
					<div class='py-4'><h5 class="text-center text-white">Podobne newsy:</h5></div>
					
					{% for post in similar_posts %}
						<a class="text-center text-white text-decoration-none" href="{% url 'news_detail' slug=post.slug id=post.id%}"><p>{{post.title}}</p></a>
					{%endfor%}
				</div>
				
				</div>
			</div>
		</div>
	</div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'games/JS/comment.js' %}"></script>
{% endblock content %}
