{% extends 'base.html' %}
{% load static%}
{% block title %} Change password {% endblock title %}

{% block content %}


<section class="first-section">
	<div class="container-fluid">
		<div class="row d-flex justify-content-center align-items-center">
			<div class="col-md-9 col-lg-6 col-xl-7">
				<div class="text-center requirments_list">
				    <p>Pamiętaj, że twoje hasło:</p>
                    <ul>
                        <li>Musi składać się conajmniej z 8 znaków.</li>
                        <li>Nie może być zbyt łatwe.</li>
                        <li>Nie może składać się z samych liczb.</li>       
                    </ul>
				</div>
			</div>
			<div
				class="col-12 col-md-8 col-lg-6 col-xl-5 d-flex justify-content-center align-items-center"
			>
				<div class="card bg-dark text-white" style="border-radius: 1rem">
					<form
						action="{% url 'passwordChange' %}"
						method="POST"
						class="card-body p-5 text-center"
					>
						<div class="mb-md-5 mt-md-4 pb-5">
							<h2 class="fw-bold mb-2 text-uppercase mb-5">Zmień hasło </h2>
	
							<div class="form-outline form-white mb-4">
								<input
									type="password"
									name="old_password"
									id="id_old_password"
                                    autocomplete="current-password"
									class="form-control form-control-lg"
								/>
								<label class="form-label" for="id_old_password">Stare hasło</label>
							</div>
                            <div class="form-outline form-white mb-4">
								<input
									type="password"
									name="new_password1"
									id="id_new_password1"
                                    autocomplete="new-password"
									class="form-control form-control-lg"
								/>
								<label class="form-label" for="id_new_password1">Nowe hasło</label>
							</div>
                            <div class="form-outline form-white mb-4">
								<input
									type="password"
									name="new_password2"
									id="id_new_password2"
                                    autocomplete="new-password"
									class="form-control form-control-lg"
								/>
								<label class="form-label" for="id_new_password2">Potwierdz nowe hasło</label>
							</div>
							{% csrf_token %}
							<button class="btn btn-outline-light btn-lg px-5" type="submit">
								Zmień hasło
							</button>
                            <a class="btn btn-danger btn-outline-light btn-lg px-5" href="{% url 'loginUser'%}" role="button">Anuluj</a>
						</div>
                        {% if form.errors %}
                        Podane dane są nieprawidłowe. Spróbuj ponownie.
                    {%endif%}
                    </form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}