{% extends 'base.html' %}
{% load static %}

{% block title %} Resetowanie hasła {% endblock title %}

{%block content %}
<section class="first-section text-white d-flex flex-column justify-content-center align-items-center">
	<div class="container-fluid text-center" >
		<h1>Resetowanie hasła</h1>
        <p>Wysłaliśmy wiadomość email z linkiem resetującym hasło.</p>
        <p>Jeżeli nie otrzymałeś tej wiadomości, to upewnij się, że w formularzu podałeś prawidłowe dane.</p>
	</div>
	<div>
		<img src="{% static 'games/images/email.png' %}" alt="">
	</div>
</section>
{% endblock content %}
